In [1]:
# %%pycodestyle
import pandas as pd
import numpy as np
import re
# %load_ext pycodestyle_magic
# Load package to confirm the code is PEP-8 formmat
# pip install pycodestyle
# pip install pycodestyle_magic
# Load libraries
# Checking
# pd
# np

In [2]:
# %%pycodestyle
# Set display to see data.
pd.set_option('display.width', 4000)
pd.set_option('max_colwidth', 4000)
pd.set_option('max_rows', 100)
pd.set_option('max_columns', 200)

In [3]:
#%%pycodestyle
# Load dataframe
df = pd.read_csv("./DOT_teste_data_science.csv", encoding='ISO-8859-1')

In [4]:
# %%pycodestyle
# Change Column names
df.columns = ['Id', 'PlaceTest', 'DateTest',
              'Rate', 'TextRate', 'HourTest',
              'Sex', 'MaritalStatus', 'Education',
              'Hometown', 'Neighborhood']

# Create new dataframe with the changes and preserve the original
# Drop ID column
# df2 = df.drop(['Id'], axis=1)
df2 = df

# Show new dataframe
df2.head()

   Id   PlaceTest    DateTest  Rate TextRate HourTest        Sex MaritalStatus       Education   Hometown          Neighborhood
0   0  GO - Goiás  13/01/2017  7,45      2,2    manhã  Masculino     Casado(a)    Ensino médio  fortaleza               Asa Sul
1   1  GO - Goiás  10/01/2017   7,4      2,4    manhã  Masculino     Casado(a)  Especialização     Recife  Norte (Águas Claras)
2   2  GO - Goiás  07/01/2017   7,3      1,8    manhã  Masculino     Casado(a)        Superior   BRASILIA        Setor Sudoeste
3   3  GO - Goiás  02/01/2017   7,2      1,7    Noite  Masculino   Solteiro(a)    Ensino médio   Brasília           Setor Norte
4   4  GO - Goiás  09/01/2017  6,95      1,7    manhã   Feminino   Solteiro(a)        Superior   BRASÍLIA               Guará I

In [5]:
# %%pycodestyle
# Check if there is all values.
df2.isnull().values.any()

True

In [6]:
# %%pycodestyle
# Unique Counts


def isNaN(df):
    for i in df.columns:
        count = df[i].isnull().values.any()
        print(i, ": ", count)


# Check all columns, True = There is NaN, False = There is no Nan.
print(isNaN(df2))

Id :  False
PlaceTest :  False
DateTest :  True
Rate :  False
TextRate :  False
HourTest :  True
Sex :  True
MaritalStatus :  True
Education :  True
Hometown :  True
Neighborhood :  True
None

In [7]:
# %%pycodestyle
print('dtypes: ')
df2.dtypes

dtypes:

Id                int64
PlaceTest        object
DateTest         object
Rate             object
TextRate         object
HourTest         object
Sex              object
MaritalStatus    object
Education        object
Hometown         object
Neighborhood     object
dtype: object

In [8]:
# %%pycodestyle
# Change comma to dot.
df2.Rate.replace(",", ".", regex=True, inplace=True)
df2.TextRate.replace(",", ".", regex=True, inplace=True)
df2.DateTest.replace("/", "-", regex=True, inplace=True)
# Transform Rate and TextRate to float.
df2[["Rate", "TextRate"]] = df2[["Rate", "TextRate"]].apply(pd.to_numeric)

In [9]:
# %%pycodestyle
# Create new column to identify who has rate above zero.
conditions = [(df2['Rate'] >= 5.0) & (df2['TextRate'] > 0.0)]
choices = [1]

df2['Approved'] = np.select(conditions, choices, default=0)

In [10]:
# %%pycodestyle
# Create new column to with All Rate.
df2['AllRate'] = df2['Rate'] + df2['TextRate']

In [11]:
# %%pycodestyle
# Create new column to identify who doesn't got the rate above 0.
conditions = [(df2['TextRate'] > 0.0)]
choices = [1]

df2['HasTextRate'] = np.select(conditions, choices, default=0)

In [12]:
df2['DateTest'] = pd.to_datetime(df2['DateTest'])

In [13]:
df2['Month'] = df2.DateTest.dt.month
df2['Year'] = df2.DateTest.dt.year
df2['Month'] = df2['Month'].fillna(0).astype(int)
df2['Year'] = df2['Year'].fillna(0).astype(int)
#df2[["Month", "Year"]] = df2[["Month", "Year"]].apply(pd.to_numeric)

In [14]:
df2.head()

   Id   PlaceTest   DateTest  Rate  TextRate HourTest        Sex MaritalStatus       Education   Hometown          Neighborhood  Approved  AllRate  HasTextRate  Month  Year
0   0  GO - Goiás 2017-01-13  7.45       2.2    manhã  Masculino     Casado(a)    Ensino médio  fortaleza               Asa Sul         1     9.65            1      1  2017
1   1  GO - Goiás 2017-10-01  7.40       2.4    manhã  Masculino     Casado(a)  Especialização     Recife  Norte (Águas Claras)         1     9.80            1     10  2017
2   2  GO - Goiás 2017-07-01  7.30       1.8    manhã  Masculino     Casado(a)        Superior   BRASILIA        Setor Sudoeste         1     9.10            1      7  2017
3   3  GO - Goiás 2017-02-01  7.20       1.7    Noite  Masculino   Solteiro(a)    Ensino médio   Brasília           Setor Norte         1     8.90            1      2  2017
4   4  GO - Goiás 2017-09-01  6.95       1.7    manhã   Feminino   Solteiro(a)        Superior   BRASÍLIA               Guará I         1     8.65            1      9  2017

In [15]:
# %%pycodestyle
print('dtypes: ')
df2.dtypes

dtypes:

Id                        int64
PlaceTest                object
DateTest         datetime64[ns]
Rate                    float64
TextRate                float64
HourTest                 object
Sex                      object
MaritalStatus            object
Education                object
Hometown                 object
Neighborhood             object
Approved                  int64
AllRate                 float64
HasTextRate               int64
Month                     int64
Year                      int64
dtype: object

In [16]:
# %%pycodestyle
print('Decribe: ')
df2.describe()

Decribe:

                 Id          Rate      TextRate      Approved       AllRate   HasTextRate         Month          Year
count  12100.000000  12100.000000  12100.000000  12100.000000  12100.000000  12100.000000  12100.000000  12100.000000
mean    6049.500000      4.577988      0.874373      0.481570      5.452361      0.532314      5.327273   2009.950909
std     3493.113463      1.704218      0.855287      0.499681      2.510222      0.498975      4.050736    115.761342
min        0.000000      0.750000      0.000000      0.000000      0.750000      0.000000      0.000000      0.000000
25%     3024.750000      3.000000      0.000000      0.000000      3.000000      0.000000      1.000000   2016.000000
50%     6049.500000      4.850000      1.100000      0.000000      6.150000      1.000000      5.000000   2017.000000
75%     9074.250000      5.950000      1.700000      1.000000      7.600000      1.000000      8.000000   2017.000000
max    12099.000000     10.000000      2.500000      1.000000     12.500000      1.000000     12.000000   2017.000000

In [17]:
!pip install pandasql
from pandasql import sqldf
from pandasql import load_meat, load_births
import matplotlib.pyplot as plt
sqlqry = sqldf("select Year, COUNT(Approved) as People from df2 WHERE Approved = 1 group by 1 order by 1")

# print(sqlqry['Year'])
# print(sqlqry['People'])

x = ['0', '2016', '2017']
y = [14, 2863, 2949]
plt.bar(x, y)
plt.xticks(sqlqry['Year'])
plt.show()

ModuleNotFoundError: No module named 'pandasql'

In [ ]:
sqlqry = sqldf("select Education, COUNT(Approved) as Approved from df2 WHERE Approved = 1 group by 1 order by 1")

print(sqlqry['Approved'].fillna(0))
print(sqlqry['Education'].fillna(0))

# "0", "Doutorado", "Ensino fundamental", "Ensino mï¿½dio", "Especializaï¿½ï¿½o", "MBA", "Mestrado", "Nï¿½o informado", "Nï¿½vel tï¿½cnico", "Superior", "Superior incompleto"
y = [14, 8, 10, 3185, 245, 21, 51, 4, 208, 1489, 591]
x = ["0", "D", "EF", "EM", "ESP", "MBA", "MSC", "N/A", "NT", "S", "SI"]
plt.bar(x, y)
print(x, y)
#plt.show()

In [ ]:
sqlqry = sqldf("select PlaceTest, COUNT(Approved) as Approved from df2 WHERE Approved = 1 group by 1 order by 1")

print(sqlqry['Approved'].fillna(0))
print(sqlqry['PlaceTest'].fillna(0))

y = [65, 411, 292, 49, 581, 334, 431, 416, 165, 622, 348, 84, 60, 480, 83, 209, 326, 280, 320, 73, 197]
x = ["AM", "BA", "CE", "ES", "GO", "MA", "MG", "MS", "MT", "PA", "PB", "PE", "PI", "RJ", "RN", "RO", "RR", "RS", "SC", "SE", "TO"]
plt.bar(x, y)
print(x, y)
#plt.show()

In [ ]:
sqlqry = sqldf("select MaritalStatus, COUNT(Approved) as Approved from df2 WHERE Approved = 1 group by 1 order by 1")

print(sqlqry['Approved'].fillna(0))
print(sqlqry['MaritalStatus'].fillna(0))

y = [14, 1, 1782, 249, 59, 3700, 21]
x = ["0", "0", "C", "D", "SE", "SO", "V"]
plt.bar(x, y)
print(x, y)
#plt.show()

In [ ]:
sqlqry = sqldf("select MaritalStatus, Education, COUNT(Approved) as Approved from df2 WHERE Approved = 1 AND MaritalStatus = 4 AND Education = 8 group by MaritalStatus, Education order by 1")
# (Approved = 1 AND MaritalStatus = 4) AND (Approved = 1 AND MaritalStatus = 1) AND (Approved = 1 AND Education = 3) AND (Approved = 1 AND Education = 8) AND (Approved = 1 AND Education = 9) 

# print(sqlqry['Approved'].fillna(0))
sqlqry
# y = [14, 1, 1782, 249, 59, 3700, 21]
# x = ["0", "0", "C", "D", "SE", "SO", "V"]
# plt.bar(x, y)
# print(x, y)
#plt.show()

In [ ]:
# %%pycodestyle
# Unique Counts


def unique_counts(df):
    for i in df.columns:
        count = df[i].nunique()
        print(i, ": ", count)


print(unique_counts(df2))

In [ ]:
# %%pycodestyle
print('Sex: ', df.Sex.unique())
print('HourTest: ', df.HourTest.unique())
print('MaritalStatus: ', df.MaritalStatus.unique())
print('Education: ', df.Education.unique())
print('PlaceTest: ', df.PlaceTest.unique())
print('Month: ', df.Month.unique())

In [ ]:
# %%pycodestyle
# Change Sex from text to integer: 0 - NaN, 1-Male, 2-Female.
conditions = [(df2['Sex'] == 'Masculino'),
              (df2['Sex'] == 'Feminino')]
choices = [1, 2]

df2['Sex'] = np.select(conditions, choices, default=0)

In [ ]:
df2.groupby('Sex').apply(lambda df2: df2.sample(1))

In [ ]:
# %%pycodestyle
# Change HourTest from text to integer: 0 - NaN, 1-Morning, 2-Evening
conditions = [(df2['HourTest'] == 'manhã'),
              (df2['HourTest'] == 'Noite')]
choices = [1, 2]

df2['HourTest'] = np.select(conditions, choices, default=0)

In [ ]:
df2.groupby('HourTest').apply(lambda df2: df2.sample(1))

In [ ]:
# %%pycodestyle
# Change MaritalStatus from text to integer: 0 - NaN or 0,
# 1-Married, 2-Divorced, 3-Separated, 4-Single, 5-Widow
conditions = [(df2['MaritalStatus'] == 'Casado(a)'),
              (df2['MaritalStatus'] == 'Divorciado(a)'),
              (df2['MaritalStatus'] == 'Separado(a)'),
              (df2['MaritalStatus'] == 'Solteiro(a)'),
              (df2['MaritalStatus'] == 'Viúvo(a)')]
choices = [1, 2, 3, 4, 5]

df2['MaritalStatus'] = np.select(conditions, choices, default=0)

In [ ]:
df2.groupby('MaritalStatus').apply(lambda df2: df2.sample(1))

In [ ]:
# %%pycodestyle
# Change Education from text to integer:
# 0-NaN 
# 1-Doutorado
# 2-Ensino fundamental
# 3-Ensino médio
# 4-Especialização
# 5-MBA
# 6-Mestrado
# 7-Nível Técnico
# 8-Superior
# 9-Superior incompleto
# 10-Não informado
conditions = [(df2['Education'] == 'Doutorado'),
              (df2['Education'] == 'Ensino fundamental'),
              (df2['Education'] == 'Ensino médio'),
              (df2['Education'] == 'Especialização'),
              (df2['Education'] == 'MBA'),
              (df2['Education'] == 'Mestrado'),
              (df2['Education'] == 'Nível Técnico'),
              (df2['Education'] == 'Superior'),
              (df2['Education'] == 'Superior incompleto'),
              (df2['Education'] == 'Não informado')]
choices = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

df2['Education'] = np.select(conditions, choices, default=0)

In [ ]:
df2.groupby('Education').apply(lambda df2: df2.sample(1))

In [ ]:
# %%pycodestyle
# Change Placetest from text to integer: 0 - NaN,
# 1-MG - Minas Gerais
# 2-MS - Mato Grosso do Sul
# 3-PA - Pará
# 4-PB - Paraíba
# 5-RJ - Rio de Janeiro
# 6-SC - Santa Catarina
# 7-SE - Sergipe
# 8-CE - Ceará
# 9-PI - Piauí
# 10-RN - Rio Grande do Norte
# 11-BA - Bahia
# 12-RS - Rio Grande do Sul
# 13-RO - Rondônia
# 14-MT - Mato Grosso
# 15-PE - Pernambuco
# 16-RR - Roraima
# 17-MA - Maranhão
# 18-ES - Espírito Santo
# 19-TO - Tocantins
# 20-AM - Amazonas
# 21-GO - Goiás
conditions = [(df2['PlaceTest'] == 'MG - Minas Gerais'),
              (df2['PlaceTest'] == 'MS - Mato Grosso do Sul'),
              (df2['PlaceTest'] == 'PA - Parï¿½'),
              (df2['PlaceTest'] == 'PB - Paraï¿½ba'),
              (df2['PlaceTest'] == 'RJ - Rio de Janeiro'),
              (df2['PlaceTest'] == 'SC - Santa Catarina'),
              (df2['PlaceTest'] == 'SE - Sergipe'),
              (df2['PlaceTest'] == 'CE - Cearï¿½'),
              (df2['PlaceTest'] == 'PI - Piauï¿½'),
              (df2['PlaceTest'] == 'RN - Rio Grande do Norte'),
              (df2['PlaceTest'] == 'BA - Bahia'),
              (df2['PlaceTest'] == 'RS - Rio Grande do Sul'),
              (df2['PlaceTest'] == 'RO - Rondï¿½nia'),
              (df2['PlaceTest'] == 'MT - Mato Grosso'),
              (df2['PlaceTest'] == 'PE - Pernambuco'),
              (df2['PlaceTest'] == 'RR - Roraima'),
              (df2['PlaceTest'] == 'MA - Maranhï¿½o'),
              (df2['PlaceTest'] == 'ES - Espï¿½rito Santo'),
              (df2['PlaceTest'] == 'TO - Tocantins'),
              (df2['PlaceTest'] == 'AM - Amazonas'),
              (df2['PlaceTest'] == 'GO - Goiï¿½s'),
              ]
choices = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,
           15, 16, 17, 18, 19, 20, 21]

df2['PlaceTest'] = np.select(conditions, choices, default=0)

In [ ]:
df2.groupby('PlaceTest').apply(lambda df2: df2.sample(1))

In [ ]:
df2.head()

In [ ]:
df2[['Rate', 'TextRate']].describe()

In [ ]:
pd.crosstab(df2['Approved'], df2['PlaceTest'])


#pd.crosstab(sample['is_booking'], sample['srch_rm_cnt'])
#sample.groupby('srch_rm_cnt')['is_booking'].mean()
#sample['srch_children_cnt'].corr(sample['is_booking'])
#sample.corr()

In [ ]:
df2[['PlaceTest', 'DateTest', 'Rate', 'TextRate', 'HourTest', 'Sex', 'MaritalStatus', 'Education', 'Hometown', 'Neighborhood', 'Approved']].hist()

In [ ]:
df2.groupby('Approved')['Approved']\
    .agg({'HowMany': 'count'})\

In [ ]:
df2.assign(NotApproved=1 - df2['Approved']).groupby('PlaceTest').sum().reset_index()

In [ ]:
df_Winners = df2[df2.Approved == 1]
df_Losers = df2[df2.Approved == 0]

In [ ]:
df_Winners.describe()
df_Losers.describe()

In [ ]:
df_Winners.groupby(['PlaceTest']).aggregate('count').reset_index().sort_values('PlaceTest', ascending=False)

In [ ]:
df_Winners = df_Winners.drop(['Id', 'Neighborhood', 'DateTest', 'Hometown', 'Year'], axis=1)

In [ ]:
df_Winners = scale(df_Winners)

In [ ]:
df_Winners

In [ ]:
sample = np.arange(1, 5826, 10)

In [ ]:
df_Winners_sample = df_Winners[sample,]

In [ ]:
from scipy.spatial.distance import pdist
d = pdist(df_Winners_sample)

In [ ]:
from scipy.cluster.hierarchy import ward
from scipy.cluster.hierarchy import dendrogram
from scipy.cluster.hierarchy import cut_tree

c = ward(d)
d = dendrogram(c)

In [ ]:
cutree = cut_tree(c, n_clusters=[20, 50])
cutree[1:10]

In [ ]:
as.matrix(cutree)

In [ ]:
df2.MaritalStatus.value_counts()[:].plot(kind='bar')

In [ ]:
df2.Sex.value_counts()[:].plot(kind='bar')

In [ ]:
df2.HourTest.value_counts()[:].plot(kind='bar')

In [ ]:
df2.Education.value_counts()[:].plot(kind='bar')

In [ ]:
df2.PlaceTest.value_counts()[:].plot(kind='bar')

In [ ]:
rfmTable = df_Winners.groupby('PlaceTest').agg({'Id': lambda x: x.count()})

rfmTable['Id'] = rfmTable['Id'].astype(int)
rfmTable.rename(columns={'Id': 'frequency'}, inplace=True)
rfmTable

In [ ]:
from matplotlib import pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [ ]:
# %%pycodestyle
# Correlation
cols = ['PlaceTest', 'HourTest', 'Sex', 'MaritalStatus', 'Education']
print(df2[cols].corr())

In [ ]:
# Attributes and target variables
features = df2[['PlaceTest', 'HourTest','MaritalStatus', 'Education', 'AllRate']]
targetVariables = df2.Approved

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import load_digits
from sklearn.preprocessing import scale
%matplotlib inline

In [ ]:
# Obtains the observation numbers and attribute numbers
n_observ, n_features = df2.shape

In [ ]:
df

In [ ]:
# Applies data scale
df3 = df2
#df3['Rate'] = scale(df3.Rate)
#df3['TextRate'] = scale(df3.TextRate)
#df3['AllRate'] = scale(df3.AllRate)

In [ ]:
df.head()

In [ ]:
n_observ

In [ ]:
n_features

In [ ]:
# Obtains the labels
n_digits = len(np.unique(df3.Approved))
labels = df3.Approved

In [ ]:
df3 = df3.drop(columns=['Id', 'Rate', 'TextRate', 'AllRate', 'DateTest', 'Neighborhood', 'Hometown'])

In [ ]:
labels
df3.head()

In [ ]:
# Creates classifier
# http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html
clf = RandomForestClassifier(n_estimators  = 10)

In [ ]:
# Model construction
clf = clf.fit(df3, labels)

In [ ]:
scores = clf.score(df3,labels)

In [ ]:
print(scores)

In [ ]:
# Extracting importance
importances = clf.feature_importances_
indices = np.argsort(importances)

In [ ]:
# Obtains the indexes
ind=[]
for i in indices:
    ind.append(labels[i])

In [ ]:
# Plots attribute importance
plt.figure(1)
plt.title('Importância dos Atributos')
plt.barh(range(len(indices)), importances[indices], color = 'b', align = 'center')
plt.yticks(range(len(indices)),ind)
plt.xlabel('Importância Relativa')
plt.show()

In [ ]:
#df3

In [ ]:
# %%pycodestyle
# Usando um algoritmo de arvore de decisão,quais correlações foram encontradas?
# ( disponibilizar o código que vai até o banco, coleta os dados e analisa)

In [ ]:
# Correlation between variables
df2.corr()

In [ ]:
df3

In [ ]:
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from treeinterpreter import treeinterpreter as ti
from sklearn.datasets import load_iris

In [ ]:
# Cria o classificador
rf = RandomForestClassifier(max_depth = 5)

In [ ]:
# Obtém os índices a partir do comprimento da variável targetr
idx = list(range(len(df3.Approved)))

In [ ]:
# Randomiza o ínidce
np.random.shuffle(idx)

In [ ]:
df4_Array = df3.values

In [ ]:
# Cria o modelo
rf.fit(df4_Array[idx][:100], df3.Approved[idx][:100].values)

In [ ]:
# Obtém as instâncias (exemplos ou observações) e retorna as probabilidades
instance = df4_Array[idx][100:101]
print(rf.predict_proba(instance))

In [ ]:
df3.feature_names = ['PlaceTest', 'HourTest', 'Sex', 'MaritalStatus', 'Education', 'HasTextRate']

In [ ]:
prediction, bias, contributions = ti.predict(rf, instance)
print ("Previsões", prediction)
print ("Contribuição dos Atributos:")
for item, feature in zip(contributions[0], df3.feature_names):
    print (feature, item)

In [ ]:
df3.Approved.values

In [ ]:
# Import 
import pandas
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
%matplotlib inline

In [ ]:
# Imprimindo o nome das colunas
print(df2.columns)

In [ ]:
# Histograma com a média de avaliações
plt.hist(df2["Rate"])
plt.show()

In [ ]:
plt.hist(df2["TextRate"])
plt.show()

In [ ]:
# Visualizando as observações com rating igual a 0
df2[df2["TextRate"] == 0]

In [ ]:
# Correlação
df2.corr()["TextRate"]

In [ ]:
# Obtém todas as colunas do dataframe
colunas = df2.columns.tolist()

In [ ]:
# Filtra as colunas e remove as que não são relevantes
colunas = [c for c in colunas if c not in ["Id", "Approved", "AllRate", "HasTextRate", "TextRate", "Neighborhood", "Hometown", "DateTest"]]

In [ ]:
# Preparando a variável target, a que será prevista
target = "TextRate"

In [ ]:
# Gerando os dados de treino
df_treino = df2.sample(frac = 0.8, random_state = 101)

In [ ]:
# Seleciona tudo que não está no dataset de treino e armazena no dataset de teste
df_teste = df2.loc[~df2.index.isin(df_treino.index)]

In [ ]:
# Shape dos datasets
print(df_treino.shape)
print(df_teste.shape)

In [ ]:
# Criando um Regressor
reg_v1 = LinearRegression()

In [ ]:
# Fit the model to the training data.
modelo_v1 = reg_v1.fit(df_treino[colunas], df_treino[target])

In [ ]:
modelo_v1

In [ ]:
# Fazendo previsões
previsoes = modelo_v1.predict(df_teste[colunas])

In [ ]:
# Computando os erros entre valores observados e valores previstos
mean_squared_error(previsoes, df_teste[target])

In [ ]:
# Criando um regressor Random Forest
reg_v2 = RandomForestRegressor(n_estimators = 100, min_samples_leaf = 10, random_state = 101)

In [ ]:
# Criando o modelo
modelo_v2 = reg_v2.fit(df_treino[colunas], df_treino[target])

In [ ]:
# Fazendo previsões
previsoes = modelo_v2.predict(df_teste[colunas])

In [ ]:
# Computando o erro
mean_squared_error(previsoes, df_teste[target])

In [ ]:
df2.to_csv("DOT_teste_data_science_2.csv", sep='\t')

In [ ]:
!ls